
<div class="container">
    <div class="card mt-3 mb-4">
        <img src="~/uploads/4.jpg" class="img-fluid" />
    </div>
</div>

<div class="container">
    <div class="card mt-3 mb-4">
        <h2 class="card-header">Our Vision<br><small>StarLand Planet Investment Worldwide</small></h2>

        <div class="card-body">
            <p>
                StarLand provides exceptional service selling planets and stars all arouond the Universe. We specialize on human customers.
                We strongly believe that in the modern dynamically developing world every successfull human being needs a personal planet which is a perfect
                place either for investment, for starting your new bussiness, for raising your children or for your unclouded retirement. 
            </p>
            <p>Build your bright future now with StarLand!</p>

        </div>
    </div>
</div>
