
<div class="container">
    <div class="card mt-3 mb-4">
        <h2 class="card-header">Terms & Conditions<br></h2>

        <div class="card-body">
            <p>The following terms and conditions govern the use of this site and the purchase of any goods from it:</p>
            <div class="card-group"><b>Your Acceptance</b></div>
            <p>
                BY USING OR VISITING THIS WEBSITE, OR SUBMITTING CONTENT TO THIS WEBSITE, YOU SIGNIFY YOUR ASSENT TO THESE TERMS OF USE (the "Terms of Use"). If you do not agree to these Terms of Use, then please do not use the Website.
            </p>
            <div class="card-group"><b>Ability to Accept Terms of Use</b></div>
            <p>
                You affirm that you are either more than 18 years of age or possess legal parental or guardian consent to enter into these Terms of Use, and to comply with these Terms of Use. In any case, you affirm that you are over the age of 13, as the Website is not intended for children under 13. If you are under 13 years of age, then please do not use the Website-there are lots of other great web sites for you. Talk to your parents about what sites are appropriate for you.
            </p>
            <div class="card-group"><b>Assignment</b></div>
            <p>
                Hese Terms of Use, and any rights and licenses granted hereunder, may not be transferred or assigned by you, but may be assigned by StarLand without restriction.
            </p>
            
            <div class="card-group"><b>Links</b></div>
            <p>
                The Website may contain links to third party websites that are not owned or controlled by StarLand. StarLand is not affiliated with those websites, has no control over, and assumes no responsibility for, the content, privacy policies, or practices of any third party websites. 
            </p>

            <div class="card-group"><b>Order</b></div>
            <ol>
                <li>Order once made cannot be cancelled & the payment will not be refunded for any reason</li>
                <li>StarLand planets are purchased as "novelty item" and recognised within StarLand Online database ONLY.</li>
            </ol>
            <div class="card-group"><b>Payment</b></div>
            <p>
                Any payments made to StarLand Online in error need to be recalled within 30 days, if not recalled then refund will be void. Due to the nature of the business, email transmissions may get delayed; ISPs may reject the email, delayed response/delivery of the server can result in late or failure delivery, typing error in email address or for any other reason StarLand cannot held responsible for delay in receiving the email pack and hence no refunds will be issued in any such cases.
            </p>
            <div class="card-group"><b>Site Content</b></div>  
            <p>
                All images and product descriptions on this site are copyrighted and may not be used without the written permission of StarLand.
            </p>
                        
        </div>
    </div>
</div>
